

<!-- Modal -->
<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You enterd the following details</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="onClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
            <strong class="px-3">Name: </strong>
             {{data[0].name }}
        </div> 
        <div class="row justify-content-center">
          <strong class="px-3">Email: </strong>
             {{ data[0].email }}
        </div> 
        <div class="row justify-content-center">
          <strong class="px-3">Mobile Number: </strong>
             {{ data[0].mobile }}
        </div> 
          <div class="row justify-content-center">
            <strong class="px-3">Gender:  </strong>
             {{ data[0].gender }}
        </div> 
          <div class="row justify-content-center">
            <strong class="px-3">Category:  </strong>
             {{ data[0].category }}
        </div> 
          <div class="row justify-content-center">
            <strong class="px-3">Technology: </strong>
             <span *ngFor=" let tech of data[0].technology">
                    {{tech}},
            </span>
        </div> 
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveData()">Save changes</button>
      </div>
    </div>
  </div>
</div>